* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
#div1 {
    
    margin:1px;
    padding: 1px;
    width:100%;
    height:100vh;
    background-position:right bottom;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgb(99, 99, 136), white);
}
.b{
    border: none;
    background-color: rgb(116, 136, 202);
    height: 50px;
    width: 100%;  
    
}
ul{
    padding: 0;
    margin: 0px;
    list-style-type: none;

}
a{
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: azure;
    display: block;
    padding: 10px 28px;
    margin: 5px;
    font-size:18px;
}
li{
    float:left;
}
.logo{
    margin-right: 63vw;
    margin-left: 4px;
    margin-top: 5px;
    animation-name: moi;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state:running;
}
@keyframes moi{from {transform: rotate(0deg);}
to{transform: rotate(360deg);}
}
a:hover{
    color: blue;
    transition: o.4s;
}
i{float: right;
    margin-top:190px;
    margin-right:1px;
    margin-bottom: 0;
    }
#me{
margin-top:280px;
margin-left: auto;
margin-right: auto;
width: 50%;
font-size: 35px;
text-align: justify}
h1{color:rgb(71, 50, 19);}
#submit{color: rgb(57, 57, 59);
    width: 60px;
        padding: 4px;
        border-radius: 7px;
        border: none;
        height: 30px;}
        #submit a{background-color: rgb(255, 252, 252);padding:4px ;
        height:20px;display: inline;font-size: 20px;}
#submit:hover{background-color:  rgb(57, 57, 59);
    color: white;}
#email{width: 480px;
    padding: 4px;
    border-radius: 7px;
    border: none;
    height: 30px;
    font-size: 20px;

}
#email:hover{background-color:  rgb(57, 57, 59);
            color: white;}
#about{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(to left, rgb(99, 99, 136), white );
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 2px;
    font-size: 34px;
}
      h2{
        font-size: 50px;
        text-align: center;
      }  
      h2::first-letter{color: rgb(107, 15, 31);}
      p{padding: 11px;
        text-align: justify;
        margin: 9px;}
        .img1{float:left;
            margin-right: 20px;}
        .yo::after{content: "";
        clear: both;
        display:table;}
        #cv{background-color: rgb(111, 158, 126);padding:4px ;
            height:20px;display: inline;font-size: 20px;}
            #cv:hover{background-color: rgb(106, 136, 71);}
            #back a{background-color: rgb(255, 252, 252);padding:3px ;
                height:25px;display: inline; font-size: 15px; color: rgb(3, 3, 3);
            }
            #back{height: 27px;
                float: right;
                margin-top: 20px;
            }
            #back a:hover{color: rgb(44, 12, 228);}
            #backref{height: 27px;
                float: right;
                margin-top: 20px;}
                 #y {padding:3px ;
                height:10px;display: inline; font-size: 15px; color: rgb(3, 3, 3);}
                #y:hover{color:  rgb(44, 12, 228);}
            #skills{
                width: 100%;
                height:100vh;
                background-image: linear-gradient(to left, rgb(99, 99, 136), white );
                font-family: 'Times New Roman', Times, serif;
                padding: 30px;
                margin: 2px;
                font-size: 35px;
            }
    
                .so{margin-top: 22px;}
            .so ul{
                list-style-type:circle;
                font-size: 22.5px;
            }
                .ye{margin-top: 17px;}
            .img2{
                float:left;
                margin-right: 25px;
                }
            .so::after{content: "";
                clear: both;
                display:table;}                   
                #js1{
                margin-top: 17px;
                margin-bottom: 18px;
                }               
                h4{margin: 3px; font-size: 25px;
                padding: 2px;}
                a.active{background-color: rgb(92, 165, 92);
                padding: 12px 30px;
                color: whitesmoke;}
                .con{
                    width: 29%;
                    height:149px;
                    background-color: rgb(16, 37, 58);
                    margin-left: 34px; 
                    padding: 5px;
                    position: relative;
                    color: white;
                    float: left;
                    margin-right: 20px;
                    margin-top: 32px;
                    text-align: center;
                }
                   #contact{
                    width: 100%;
                    height:97.5vh;
                    background-image: linear-gradient(to left, rgb(99, 99, 136), white );
                    font-family: 'Times New Roman', Times, serif;
                    padding: 30px;
                    margin: 2px;
                    font-size: 35px;
                    }
                    .p{text-align: center;
                    font-size: 30px;
                    padding: 5px;}
                   .img3{float:left;
                    margin-right: 20px;
                    margin-top: 35px;
                    margin-left:16px ;
                    }
                .zo::after{content: "";
                clear: both;
                display:table;}
                .zo{
                    margin-left:20px;
                    }
                    